.homeWrapper{
    /* background-color:rgb(218, 80, 144); */
    background-image: url('../images/skoool-alternatives-elearning-for-children.jpg');
    
    height:600px;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* color:red */
}
.title{
    font-size: 100px !important;
    text-align: center;
    color:white;
    text-shadow: 6px 6px 10px black;
    margin-top: 0%;
    margin-bottom: 0%;
}
.registration , .login{
    /* text-decoration: none; */
    font-size: 45px;
    margin-left: 11px;
    color:black;
   
    
}
.homeWrapperMenu{
    margin-top:10%;
}
.homeWrapperMenuReg,.homeWrapperMenuLogin{
    /* width:40px; */
    height:50px;
    margin-left:70%;
    margin-right: 1%;
    margin-top:3%;
    width:10px;
    
    background:rgb(212, 12, 95);
    transition: width 0.5s;
    /* transition: margin-left 5s */
}
.homeWrapperMenuReg:hover , .homeWrapperMenuLogin:hover{
    width: 300px;
    /* margin-left:440px; */
}
.footerTagLine{
    margin-top:1%;
    /* background: black; */
    /* color:white; */
    width:620px;
    font-size: 20px;
    text-shadow: 2px 2px 4px red;
    position: relative;
    animation: moving 10s infinite;
    animation-timing-function: linear
}
@keyframes moving{
    from{left:0px;}
    to{left:1000px}
}

