.reg{
    /* height:110%;
    margin-bottom: 0.01em; */
    background-image: linear-gradient(to right , red , pink);
    overflow: auto !important;
}
.regWrapper h1{
    font-size: 80px;
    color:black;
    text-align: center;
    text-shadow: 2px 2px 4px white;
}
.regWrapperCard{
    width:800px;
    background: rgb(167, 149, 152);
    
}
.regWrapperCard{
    box-shadow: 4px 4px 8px rgb(136, 124, 124);
    margin-left:220px;
}
.regWrapper{
   
    margin:50px
}
.errorSpan{
    color:rgb(177, 55, 55);
    margin-left: 80px;
}
.submitButton{
    width:300px;
    background: rgb(50, 226, 226) !important;
    color:black;
    border: white;
}
.loginButton{
    width:300px;
    background: rgb(50, 226, 226) !important;
    color:black;
    border: white;
    margin-left: 40px;
}